.modals-fade {
    overflow: auto;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
}

.modals-fade:target {
    display: block;
    pointer-events: auto;
  }

.hidden {
    opacity: 0;
    visibility: hidden;
}