html {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-size: 10px;
    color: $text-color;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }
    @media screen and (max-width: 480px) {
        padding: 0 10px;
    }
}