@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('./assets/fonts/MuseoSansCyrl-300.woff'),
         url('./assets/fonts/MuseoSansCyrl-300.eot'),
         url('./assets/fonts/MuseoSansCyrl-300.ttf'),
         url('./assets/fonts/MuseoSansCyrl-300.svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('./assets/fonts/MuseoSansCyrl-500.woff'),
         url('./assets/fonts/MuseoSansCyrl-500.eot'),
         url('./assets/fonts/MuseoSansCyrl-500.ttf'),
         url('./assets/fonts/MuseoSansCyrl-500.svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('./assets/fonts/MuseoSansCyrl-700.woff'),
         url('./assets/fonts/MuseoSansCyrl-700.eot'),
         url('./assets/fonts/MuseoSansCyrl-700.ttf'),
         url('./assets/fonts/MuseoSansCyrl-700.svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('./assets/fonts/MuseoSansCyrl-900.woff'),
         url('./assets/fonts/MuseoSansCyrl-900.eot'),
         url('./assets/fonts/MuseoSansCyrl-900.ttf'),
         url('./assets/fonts/MuseoSansCyrl-900.svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}