/*--------COLORS-------*/

$text-color:#000E2A;
$text-color-white:#ffffff;
$btn-bg-color:#4CA1DA;
$grey-bg-color:#F3F3F3;
$light-grey:#929292;


$h1font-size : 5rem;
$h1line-height: 7rem;
$h1margin: 2rem;

$h2font-size:3.6rem;
$h2line-height:5.4rem;

$h3font-size : 5rem;
$h4font-size : 5rem;